<h1>ログイン</h1>

<%= form_with model: @user, local: true do |f| %>
  <div class='form-group'>
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= f.label :password %>
    <%= f.text_field :password, class: 'form-control' %>
  </div>
  <div class='nev justify-content-end'>
    <%= f.submit 'ログイン', class: 'btn btn-primary' %>
  </div>
<% end %>